@font-face {
    font-family: 'IRANYekan';
    src: url('IRANYekan.woff2') format('woff2'),
        url('IRANYekan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

