@font-face {
    font-family: 'IRANYekan';
    src: url('./assets/fonts/IRANYekan.woff2') format('woff2'),
        url('./assets/fonts/IRANYekan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
    direction: rtl;
    font-family: 'IRANYekan';
}

a {
    text-decoration: none;
}